// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #4B4B4B !default;
$gray-900: #212529 !default;
$black:    #1D1E21 !default;
$black1:    #172432;

$gray1: #F1F3FC;
$gray2: #EBEBEB;
$gray3: #C7C7C7;
$gray4: #FAFAFA;
$gray5: #ACAEB4;
$gray6: #929395;
$gray7: #AAAAAA;
$gray8: #EDEDED;
$gray8: #9FA2B4;
$gray9: #F7F9FA;
$gray10: #6A707E;
$gray11: #828282;
$gray12: #F6F6F6;
$gray13: #D6D6D6;
$gray14: #BFBFBF;
$gray15: #5C5F62;
$gray16: #4B506D;
$gray17: #585757;

$navbar-gray1: #F1F3FCBB;
$navbar-white: #FFFFFFBB;
$navbar-gray4: #FAFAFABB;

$blue:    #0270B5 !default;
$blue1:    #037DC9;
$blue2:    #3C64B1;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #EB5757 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$cyan1: #0270B50D;
$cyan2: #015890;

$green1: #468A011A;
$green2: #468A01;

$blue3: #0085FF1A;
$blue4: #0085FF;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$content-width-per-item: 18rem;
$content-width: $content-width-per-item * 3 + 3;