@font-face {
  font-family: poppins-regular;
  src: url('@/assets/fonts/Overpass/Overpass-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('@/assets/fonts/Overpass/Overpass-Bold.ttf');
}

@font-face {
  font-family: poppins-light;
  src: url('@/assets/fonts/Overpass/Overpass-Light.ttf');
}

@font-face {
  font-family: poppins-medium;
  src: url('@/assets/fonts/Overpass/Overpass-Medium.ttf');
}

