@font-face {
  font-family: poppins-regular;
  src: url('@/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('@/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: poppins-light;
  src: url('@/assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: poppins-medium;
  src: url('@/assets/fonts/Poppins-Medium.ttf');
}

.ql-editor .ql-size-large {
  font-size: 72px !important;
}

.ql-editor .ql-size-huge {
  font-size: 84px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 72px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 84px !important;
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 72px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 84px !important;
}